global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info
  lua-load /usr/local/etc/haproxy/magictokens.lua
  lua-load /usr/local/etc/haproxy/print_berrer.lua
#  lua-load /usr/local/etc/haproxy/encode.lua
  lua-load /usr/local/etc/haproxy/decode.lua  
defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global
  default-server init-addr last,libc,none

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend myfrontend
  log global
    # log-format "%[var(sess.now)] %[var(sess.expiration)] ... remaining %[var(sess.now),neg,add(sess.expiration)]"
    # log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"
  log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r %[var(sess.now),neg,add(sess.expiration)] %[var(sess.username)]"
  #bind *:8083 ssl crt /etc/haproxy/dev7.pem crt /etc/haproxy/dev34.pem
  bind *:8085
  mode  http

  acl grafana_permission req.cook(PERMISSIONS) -i grafana125

  acl acl_get_permission url_param(code) -m found
  use_backend get_permission_backend if acl_get_permission


  acl keycloak_acl hdr(host) -i auth.purpucle.pl:8085
  use_backend keycloak_backend if keycloak_acl
  acl grafana_acl hdr(host) -i grafana.purpucle.pl:8085
  use_backend grafana_backend if grafana_acl
#  acl hostdev34 hdr(host) -i auth.purpucle.pl:8085
#  use_backend backdev34 if hostdev34

  http-request redirect location http://auth.purpucle.pl:8085/realms/master/protocol/openid-connect/auth?scope=openid&response_type=code&client_id=grafana&redirect_uri=http://grafana.purpucle.pl:8085/ unless grafana_permission or keycloak_acl or acl_get_permission





backend get_permission_backend
  mode http
  http-request set-var(req.authcode) url_param(code)

  http-request set-var(txn.bearer) var(req.tokenresponse),json_query('$.access_token')
  http-request set-var(txn.somemmy) var(req.tokenresponse)
  http-request set-var(txn.accesstoken) var(txn.bearer),jwt_payload_query('$.resource_access.grafana.roles')
  http-request set-var(txt.weird_cookie) var(txt.somemmy)
  http-request set-var(txn.test2)  var(txn.weird_cookie),lua.decode,lua.print_berrer 
  
  http-request deny content-type 'text/html' string 'Unsupported JWT signing algorithm'  unless { var(txn.accesstoken) -m sub Ania }
  http-response set-header Set-Cookie "PERMISSIONS=grafana125; Path=/" 






  server servergrafana purpucle.pl:3000 check

backend grafana_backend
  mode http
  balance roundrobin
  server servergrafana purpucle.pl:3000 check

backend keycloak_backend
  mode http
  balance roundrobin
  server serverkeycloak purpucle.pl:7080 check
